/*BEGIN STARTER CSS - DO NOT CHANGE*/
html{
    scroll-behavior: smooth;
}

body{
  background-color: white;
  font-size: 13px;
  margin: 0;
  padding: 0;
    
font-family: 'Open Sans', sans-serifline height;
    
}
@media only screen and (min-width: 768px)  
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) 
{
    .container-ux{
    color: blue;
}
/*
  .grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto auto;
  background-color: powderblue;
  padding: 10px;
}

.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
*/
}
h1{
  font-size: 40px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
 

h2{
  font-size: 15px;
  line-height: 1.5;
  margin: 10px; 
}

nav li{
  display:inline;
  padding-right:20px;

}
p{
    margin: 10px; 
}



nav{
  background-color: black;
  padding: 25px 0; 
  text-align: center;
  }

ul#navigation .focus {
  text-decoration: underline;
} 

#navigation a.active-page{
  text-decoration: underline;
 font-style: oblique;
}


footer{
  background-color: black;
  color: white;
  padding-top: 0px;
  text-align: center;
align-content: center;
}

header p{
  color: white;
  font-size: 17px;
  padding: 0 50px;
  text-align: center;
}
/*END STARTER CSS - DO NO CHANGE*/


/*Req 1*/
nav a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  

}
/*Req 2*/
/*Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/
a:hover {
    text-decoration: underline;}

/*Req 3a*/
.skip a{
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;

  /*Your code here*/
}
/*Req 3b*/
/*Write selector/rule property to position the skip class element*/
.skip a:focus{ 
 top: 10px;}

/*Req 4*/
/*Write selector/rule property to style all elements when in focus*/
*:focus{
    border-bottom: 2px dashed;
    border-top: 2px dashed; 
}
 

header{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */
  margin-bottom:25px;
  background-color: #223c5a; 
  background-image: url('/images/back.jpg');   
  /*Req 6a*/
  /*Set margin */

    
  /*Req 6b*/
  /*Set background-image to header.jpg */
 

}
 
  
/*.wrapper {
    display: grid;
    justify-content: center;
    grid-template-rows: 10%;
     
}*/
div>img{
max-height: 150px;
    
}
.container-ux{
    color: black;
    display: grid; 
    grid-template-columns: auto; 
}
.chart>img{
    max-height: 200px;
    margin: 10px 10px;
    align-content: center;
}
 ul#navigation-bottom{
    display: block; 
    background-color: black;
    padding: 10px 0; 
    align-content: center; 
    margin:auto;
    width: 30px;
      line-height: 20px; 
}
 ul#navigation{
    display: block; 
    background-color: black;
    padding: 10px 0; 
    align-content: center; 
    margin:auto;
    width: 30px;  
    line-height: 20px; 
     }
div.demovideo{
display: flex;
flex-direction: column;
align-items: center;
}
.container-demo{
    display: flex;
    flex-direction: column;
    
}
main.container-tradition{
  
    grid-template-columns: none;

    
}

@media(min-width: 768px)  
{
    .container-ux{
    grid-template-columns: auto auto auto;
        grid-template-rows: 425px;}
    .chart>img{
        max-height: 350px;}
    ul#navigation-bottom{
    display: block; 
    background-color: black;
    padding: 10px 0; 
    align-content: center; 
    margin:auto;
    width: 600px; 
        
    
  }
    ul#navigation{
    display: block; 
    background-color: black;
    padding: 10px 0; 
    align-content: center; 
    margin:auto;
    width: 600px; 
  
    }
    .container-demo{
    display: flex;
    flex-direction: row;
 
        }
    main.container-tradition{
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 40px; 
        }
    
        
    }
    @media(min-width: 800px) 
    {   main.container-tradition{
        margin: 80px; }
}
 
/*.chart>img{
    display: grid;
    justify-content: center;
    max-height: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-span: all;
    
}*/

 
 